<div class="row row-centered playlistElementsContainer"
     ng-show="!player.theaterMode.enabled || (player.theaterMode.playlistMenuToggled && !player.theaterMode.userIdle)">

  <div class="list-group playlistEntriesList">
    <div ng-repeat="playlistEntry in playlist.entries" class="playlist-entry-wrapper"
         ng-class="{'opened-playlist-entry': isEntrySelected(playlistEntry) }">
      <mb-player-entry-details ng-if="isEntrySelected(playlistEntry)" selected-entry="playlistEntry"></mb-player-entry-details>
      <mb-player-playlist-entry class="playlist-entry" entry="playlistEntry">
      </mb-player-playlist-entry>
    </div>
  </div>
</div>
