& .playlistEntriesList {
  //overflow-y: auto;
  // height: 300px;
  position: relative;
  left: 0px;
  margin-bottom: 0px;
}
.playlistElementsContainer {
  position: relative;
  left: 0px;
  width: 380px; height: 100%;
  background-color: @grey-900;
  .transition(all 0.5s);
  .transition-timing-function(ease-out);
}
.playlistElementsContainer.ng-hide {
  left: -750px;
}

.playlist-expander, .playlist-collapser {
  position: absolute;
  display: inline-block;
  z-index: 100;
  bottom: 0px;
  & > span {
    vertical-align: bottom;
    color: white;
    background-color: @mainThemeColorAlt;
  }
}
.playlist-expander.ng-hide, .playlist-collapser.ng-hide {
  bottom: -220px;
}

mb-player-playlist { width: 380px; overflow-x: hidden }
// Theater mode:
#musicPlayerBase.theatermode + * + mb-player-playlist {
  position: absolute;
  top: @navbar-height;
  bottom: 6px; // 0
  padding-bottom: 0px;
  height: auto !important; // overridde calculated by directive
}
#musicPlayerBase.theatermode + * + mb-player-playlist {
  // height: 100% !important;
}
