& .playlistEntriesList {
  //overflow-y: auto;
  height: 300px;
}
& .playlistEntry {
  text-align: left;
  background-color: transparent;
  color: @gray-lighter;
  border-color: @gray;
  & > a {
    color: @gray-lighter;
  }
  &  .dropdown-menu-item {
    padding: 3px 10px;
    & > span {
      padding-right: 10px;
    }
  }
}
& .playlist-entry-actions {
  float: right;
  & > a {
    font-size: 20px;
  }
}
& .playlistEntrySelected {
  background-color: @brand-primary !important;
}
