<mb-player-sm2-controls ng-show="player.getCurrentSong().engine.name !== 'songEngineYoutube'"></mb-player-sm2-controls>
<mb-player-youtube-controls ng-show="player.getCurrentSong().engine.name === 'songEngineYoutube'"></mb-player-youtube-controls>

<div class="row-centered player-controls">
  <a ng-show="player.tracksHistory.canRestoreSong()" tooltip="{{getLastSongDescription()}}"
     class="mdi-av-skip-previous player-icon" aria-hidden="true" ng-click="player.prevTrack()"></a>

  <a ng-show="!player.tracksHistory.canRestoreSong()"
     class="mdi-av-skip-previous player-icon-shaded" aria-hidden="true"></a>

  <a ng-show="!player.isPlaying" ng-click="player.togglePlay()"
     class="mdi-av-play-arrow player-icon-bg" aria-hidden="true"></a>
  <a ng-show="player.isPlaying" ng-click="player.togglePlay()"
     class="mdi-av-pause player-icon-bg" aria-hidden="true"></a>
  <!-- NEXT SONG LOADED-->
  <a
    class="mdi-av-skip-next player-icon" aria-hidden="true"
    tooltip="{{getSongDescription(player.queue.peekNextSong())}}" ng-click="player.nextTrack()"
    ng-show="player.queue.peekNextSong() != null"></a>
  <a
    class="mdi-av-skip-next player-icon-shaded" aria-hidden="true"
    ng-click="player.nextTrack()" ng-show="player.queue.peekNextSong() == null"></a>
</div>
