<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="musicPlayerContainer">
  <div class="row">
    <div class="col-lg-12 nopadding">
      <img src="{{player.currentTrack.albumArt}}" id="albumArt"/>

      <div class="cur-track-wrapper">
        <div class="row cur-track-innerwrapper row-centered">
          <div class="col-centered cur-track-info col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="cur-track-artist">
              {{player.currentTrack.artist}}
            </h4>
            <p class="cur-track-title">{{player.currentTrack.title}}</p>
          </div>
            <div class="row-centered player-controls">
              <a
                class="glyphicon glyphicon-backward player-icon" aria-hidden="true"></a>

              <a ng-show="player.isPlaying" ng-click="player.togglePlay()"
                class="glyphicon glyphicon-play player-icon-bg" aria-hidden="true"></a>
              <a ng-show="!player.isPlaying" ng-click="player.togglePlay()"
                 class="glyphicon glyphicon-pause player-icon-bg" aria-hidden="true"></a>
              <a
                class="glyphicon glyphicon-forward player-icon" aria-hidden="true" ng-click="player.nextTrack()"></a>
          </div>
          <player-progressbar buffered="player.progress.buffered" current="player.progress.current" ng-click="player.playerProgressClickEvent($event)"></player-progressbar>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-centered">
    <div class="list-group playlistEntriesList">
      <div class="list-group-item playlistEntry" ng-repeat="playlistEntry in player.playlist.entries"><a href="#">{{playlistEntry.shortDescription}}</a></div>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="musicPlayerColumn"></div>
