<div class="entryDescription" ng-class="{ 'active-playlist-entry' : isEntryActive(entry)}">{{entry.getPlaylistDescription()}}</div>

<div dropdown is-open="playlistItemDropdown"
     style="position: absolute; right: 1em; top: 0.5em; z-index: 3; cursor: pointer">
  <span class="mdi-navigation-menu dropdown-toggle" dropdown-toggle style="z-index: 0"></span>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" style="z-index: 2">
    <li><a class="dropdown-menu-item" ng-click="player.entryPlay(entry)"><span class="icon-play2"/>Play</a></li>
    <li><a class="dropdown-menu-item" ng-click="player.entryPlayNext(entry)"><span class="icon-redo2"/>Play next</a></li>
    <li><a class="dropdown-menu-item" ng-click="player.entryEnqueue(entry)"><span class="icon-clock"/>Add to Queue</a></li>
    <li class="divider"></li>
    <li><a class="dropdown-menu-item"
           ng-click="player.playlist.removeEntry(entry.id)"><span class="icon-remove2"/>Remove</a>
    </li>
  </ul>
</div>
