.playlistEntry {
  text-align: left;
  background-color: transparent;
  color: @gray-lighter;
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid mix(@gray-dark, @gray-darker, 50%) !important;
  & > .entryDescription {
    display: inline-block;
    color: @gray-lighter;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 15px;
    padding-right: 30px;
  }
  &  .dropdown-menu-item {
    padding: 3px 10px;
    & > span {
      padding-right: 10px;
    }
  }
}
.playlist-entry-actions {
  position: absolute;
  right : 1em;
  & > a {
    font-size: 20px;
  }
}
.active-playlist-entry {
  color: @mainThemeColorAlt !important;
  //background-color: mix(@mainThemeColorAlt, rgba(50, 50, 50, 0), 20%);
}
