.playlistEntry {
  text-align: left;
  background-color: transparent;
  color: @gray-lighter;
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid mix(@gray-dark, @gray-darker, 50%) !important;
  overflow: hidden;

  & > .entryDescription {
    display: inline-block;
    color: @gray-lighter;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 15px;
    padding-right: 30px;
  }
  & .dropdown-menu-item {
    padding: 3px 10px;
    & > span {
      padding-right: 10px;
    }
  }
  &::selection, &::-moz-selection {
    background: @mainThemeColorAlt !important;
  }
}

.playlist-entry-actions {
  position: absolute;
  right: 1em;
  & > a {
    font-size: 20px;
  }
}

.active-playlist-entry {
  color: @mainThemeColorAlt !important;
  //background-color: mix(@mainThemeColorAlt, rgba(50, 50, 50, 0), 20%);
}

.playlist-entry-wrapper {
  position: relative;
  overflow: hidden;
}

.menu-circle {
  overflow: hidden;
  position: absolute;
  right: 0.5em;
  top: 0;
  border-radius: 50%;
  width: 100%;
  height: 700%;
  transform: translate(45%, -45%) scale(2, 2);
  background-color: @mainThemeColorAlt;
  .material-transition(400ms);
}

.menu-circle.ng-enter.ng-leave {
}

.menu-circle.ng-enter,
.menu-circle.ng-leave.ng-leave-active {
  background-color: @mainThemeColorAlt;
  transform: translate(45%, -45%) scale(0.07, 0.07);
  opacity: 0.4;
}

.menu-circle.ng-enter.ng-enter-active,
.menu-circle.ng-leave {
  background-color: @mainThemeColorAlt;
  transform: translate(45%, -45%) scale(2, 2);
  opacity: 1;
}

.menu-items-wrapper {
  position: absolute;
  float: right;
  top: 0.2em;
  right: 4em;
  z-index: 10;
  text-transform: uppercase;
  vertical-align: middle;
  height: 100%;
  width: auto;

  & > .menu-item {
    padding: 0 4px;
    color: @grey-100;
    & > span {
      position: relative;
      top: 4px;
      margin-right: 2px;
    }
  }

  // appear/disapear anis:
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
    right: -10em;
  }
  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
    right: 4em;
  }
  &.ng-leave.ng-leave-active,
  &.ng-leave {
    .material-transition(50ms);
  }

  &.ng-enter,
  &.ng-enter.ng-enter-active {
    transition-delay: 200ms;
    .material-transition(300ms);
  }
}
