<div class="entryDescription" ng-class="{ 'active-playlist-entry' : isEntryActive(entry)}">
  {{entry.getPlaylistDescription()}}
</div>

<div class="menu-circle" ng-if="actionsToggled">
</div>
<div class="menu-items-wrapper" ng-if="actionsToggled">
  <span class="menu-item" ng-click="menuAction(player.entryPlay(entry))">
    <md-tooltip md-direction="top">
      Play
    </md-tooltip>
    <span class="mdi-av-play-circle-fill"></span></span>
  <span class="menu-item" ng-click="menuAction(player.entryPlayNext(entry))">
    <md-tooltip md-direction="top">
      Play next
    </md-tooltip>
    <span class="mdi-content-redo"></span></span>
  <span class="menu-item" ng-click="menuAction(player.entryEnqueue(entry))">
    <md-tooltip md-direction="top">
      Enqueue
    </md-tooltip>
    <span class="mdi-action-schedule"></span></span>
  <span class="menu-item" ng-click="menuAction(player.playlist.removeEntry(entry.id))">
    <md-tooltip md-direction="top">
      Remove
    </md-tooltip>
    <span class="mdi-action-delete"></span></span>

</div>
<div dropdown is-open="playlistItemDropdown"
     style="position: absolute; right: 1em; top: 0.5em; z-index: 3; cursor: pointer">
  <span class="mdi-navigation-menu" style="z-index: 0" ng-click="actionsToggled = !actionsToggled"></span>
</div>
