<div class="row">
  <div >
    <md-toolbar class="md-transparent" style="position: absolute; height: 40px; overflow: auto">
      <form class="md-toolbar-tools">
        <div class="form-control-wrapper input-group">
          <input class="form-control empty" id="focusedInput" ng-model="searchQuery" type="text"
                 placeholder="Youtube query/Youtube URL">

          <span class="material-input"></span>
      <span class="input-group-addon "><button class="mdi-action-search clear-button" type="submit"
                                               ng-click="inteliSearch(searchQuery)"></button></span>
        </div>
      </form>
    </md-toolbar>
    <div style="position: absolute; top: 120px;">
      <section ng-if="ytClips">
        <md-subheader class="md-accent">Videos</md-subheader>
            <youtube-entry entry="ytEntry" ng-repeat="ytEntry in ytClips">
            </youtube-entry>
      </section>
      <!-- plalists -->
      <section ng-if="ytPlaylists">
        <md-subheader class="md-accent">Playlists</md-subheader>
            <youtube-entry entry="ytEntry" ng-repeat="ytEntry in ytPlaylists">
            </youtube-entry>
      </section>
    </div>
  </div>
</div>
