@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';


/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'commons/less/globals.less';
@import 'commons/less/icomoon.less';
@import 'commons/less/spinner.less';
@import 'ideas/ideas.less';
@import 'local/local.less';
@import 'main.intro/main.intro.less';
@import 'main/main.less';
@import 'mbPictureMosaic/mbPictureMosaic.less';
@import 'playerProgressbar/playerProgressbar.less';
@import 'playlists/playlists.less';
@import 'songza/login/songza.less';
@import 'songza/search/search.less';
@import 'songza/station/station.less';
@import 'modal/modal.less';
@import 'music-player/music-player.less';
// endinjector
@import 'commons/less/spinner.less';
