<div class="col-md-12">
  <h2>Stations by {{grouping}}</h2>

  <div class="row">
    <div class="col-md-12 songza-pills">
      <ul class="nav nav-pills">
        <li ng-repeat="genere in genres" ng-class="{'active' : selectedGenere.slug == genere.slug}">
          <a ng-click="setGenere(genere)">{{ genere.name }}</a>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12" ng-show="stations">
  Results
  <div layout="row" layout-align="space-around center" layout-wrap ng-show="stations">
    <songza-station station="station" ng-repeat="station in stations"/>
  </div>
</div>
</div>
