.songza-station-wrapper {
  display: inline-block;
  /* ugly as hell */
  margin-right: -4px;
  margin-bottom: -5px;
}

.songza-station-loader {
  width: 230px;
  height: 298px;
}

.songza-station-station {
  position: relative;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  display: table;

  width: 230px;
  height: 230px;
  overflow: hidden;

  & .songza-station-add-to-playlist {
    display: table;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 230px;
    color: @gray-lighter;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s ease-out;
    & > p {
      margin-top: -34px; // bottombar/2
      font-size: 40px;
      text-align: center;
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  & .songza-station-art {
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
    height: 230px;
    background-size: contain;
    // margin-bottom: 68px;
  }

}

.songza-station-metainfos {
  position: relative;
  background-color: @brand-primary;
  display: block;
  padding: 0.5em;
  padding-bottom: 0;
  width: 230px;
  height: 68px;
  z-index: 2;
  color: @grey-100;
  font-size: 15px;
  & > p {
    height: 3em;
    overflow: hidden;
    width: 80%;
    white-space: normal;
    text-overflow: ellipsis;
  }
  & .songza-station-icon-more {
    z-index: 99999;
    position: absolute;
    right: 4px;
    top: 4px;
    pointer-events: all;
  }
}

.songza-station-station:hover .songza-station-add-to-playlist {
  pointer-events: all !important;
  opacity: 1 !important;
  transition: opacity 0.25s ease-out !important;
}
