<div class="songza-station-wrapper">
  <div layout="row" layout-align="center center" ng-show="station.isLoading" class="songza-station-loader">
    <div class="loader" style="top: 0">
      <div class="loader-inner"></div>
    </div>
  </div>
  <div class="songza-station-station" ng-click="addToPlaylist(station)" ng-show="!station.isLoading">
    <div class="songza-station-add-to-playlist">
      <p class="mdi-av-playlist-add"></p>
    </div>
    <div class="songza-station-art"
         ng-style="{'background-image':'url('+ station.cover + ')' }"></div>
  </div>
  <div class="songza-station-metainfos">
    <p>{{station.name}}</p>

    <div class="songza-station-icon-more">
      <ng-md-icon icon="more_vert" style="fill: #fff" ng-click="moreInfos($event)"></ng-md-icon>
    </div>
  </div>
</div>
