<md-dialog aria-label="Share playlist" style="width: 620px; max-width:100%; padding: 0px 0 0 16px">
  <md-dialog-content>
    <h2>Share Playlist</h2>
    <md-input-container style=" margin-right: 16px;">'
      <label>URL</label>
      <input ng-model="url" disabled>
    </md-input-container>
  </md-dialog-content>
  <fieldset class="standard">
    <legend>Options</legend>
    <div layout="row" layout-wrap>
      <div flex="50">
        <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
          Checkbox 1: {{ data.cb1 }}
        </md-checkbox>
      </div>
      <div flex="50">
        <md-checkbox
          ng-model="theater"
          aria-label="Theater mode"
          ng-true-value="'theater'"
          ng-false-value="''"
          class="md-primary">
          Theater Mode
        </md-checkbox>
      </div>
  </fieldset>
  <div class="md-actions">
    <md-button ng-click="closeDialog()" class="md-primary">
      Copy to clipboard
    </md-button>
  </div>
</md-dialog>
