<div class="media-collection-pagination" ng-if="pageObject.allItems">
  <uib-pagination total-items="pageObject.allItems" ng-model="pageObject.page"
                  items-per-page="pageObject.pageSize"
                  direction-links="false" total-items="pageObject.lastPage()"
                  boundary-links="true" boundary-link-numbers="true"
                  max-size="4" class="pagination-sm" boundary-link-numbers="true"></uib-pagination>

  <ul class="pagination pagination-sm pagination-sizer"
    ng-show="pageObject.getSmallerSize() < pageObject.allItems">
    <!--<li><a>per page:</a></li>-->
    <li ng-if="pageObject.getSmallerSize() !== pageObject.pageSize"><a href ng-click="pageObject.pageSize=pageObject.pageSize-1">{{pageObject.getSmallerSize()}}</a></li>
    <li class="active"><a href ng-click="selectPage(page + 1, $event)">{{pageObject.pageSize}}</a></li>
    <li ng-if="pageObject.getBiggerSize() !== pageObject.pageSize"><a href ng-click="pageObject.pageSize=pageObject.pageSize+1">{{pageObject.getBiggerSize()}}</a></li>
  </ul>
  <div ng-hide="true">
    off: {{pageObject.offset}} / {{pageObject.allItems}}; 0-{{pageObject.page}}-{{pageObject.lastPage()}}; perPage: {{pageObject.pageSize}}
  </div>
</div>
