<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
  <div class="row">
    <!-- MUSIC PLAYER -->
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="musicPlayerContainer">
      <div class="row">
        <div class="col-lg-12 nopadding">
          <div class="player-toolbar">
            <div class="player-toolbar-left">
              <div class="player-playlist-save">
                <input ng-model="player.playlist.name" type="text" class="form-control"
                       ng-show="player.playlist.settingPlaylistName && player.playlist.isAltered"
                       placeholder="Playlist name">
                <!-- DK: When user is not logged in show tooltip -->
                <a class="glyphicon glyphicon-floppy-disk disabled" ng-show="player.playlist.isAltered && !userLoggedIn()"
                   tooltip="You need to be logged in!" tooltip-placement="right"></a>
                <!-- Normal save diskiette -->
                <a class="glyphicon glyphicon-floppy-disk" ng-show="player.playlist.isAltered && userLoggedIn()"
                   ng-class="{ 'disabled' : player.playlist.name == '' && player.playlist.settingPlaylistName || !userLoggedIn()}"
                   ng-click="savePlaylist()"></a>
              </div>
            </div>
            <div class="player-toolbar-right">
              <a class="{{player.playlist.playlistSequencer.iconClass}}"
                 ng-click="player.playlist.nextPlaylistSequencer()"></a>
            </div>
          </div>
          <img src="{{player.getCurrentTrack().albumArt}}" id="albumArt"/>

          <div class="cur-track-wrapper">
            <div class="row cur-track-innerwrapper row-centered">
              <div class="col-centered cur-track-info col-lg-9 col-md-10 col-sm-10 col-xs-10">
                <h4 class="cur-track-artist">
                  {{player.getCurrentTrack().artist}}
                </h4>

                <p class="cur-track-title">{{player.getCurrentTrack().title}}</p>
              </div>
              <div class="row-centered player-controls">
                <a
                  class="glyphicon glyphicon-backward player-icon" aria-hidden="true"></a>

                <a ng-show="!player.isPlaying" ng-click="player.togglePlay()"
                   class="glyphicon glyphicon-play player-icon-bg" aria-hidden="true"></a>
                <a ng-show="player.isPlaying" ng-click="player.togglePlay()"
                   class="glyphicon glyphicon-pause player-icon-bg" aria-hidden="true"></a>
                <!-- NEXT SONG LOADED-->
                <a
                  class="glyphicon glyphicon-forward player-icon" aria-hidden="true"
                  tooltip="{{getNextSongDescription(player.queue.peekNextSong())}}" ng-click="player.nextTrack()"
                  ng-show="player.queue.peekNextSong() != null"></a>
                <a
                  class="glyphicon glyphicon-forward player-icon-shaded" aria-hidden="true"
                  ng-click="player.nextTrack()" ng-show="player.queue.peekNextSong() == null"></a>
              </div>
              <player-progressbar buffered="player.progress.buffered" current="player.progress.current"
                                  ng-click="player.playerProgressClickEvent($event)"></player-progressbar>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-centered">
        <div class="list-group playlistEntriesList">
          <div class="list-group-item playlistEntry" ng-repeat="playlistEntry in player.playlist.entries"><span>{{playlistEntry.getPlaylistDescription()}}</span>

            <div class="btn-group" dropdown is-open="playlistItemDropdown"
                 style="position: absolute; right: 1em; top: 0.5em; z-index: 1">
              <span class="icon-menu2 dropdown-toggle" dropdown-toggle style="z-index: 0"></span>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" style="z-index: 2">
                <li><a class="dropdown-menu-item"><span class="icon-play2"/>Play</a></li>
                <li><a class="dropdown-menu-item"><span class="icon-redo2"/>Play next</a></li>
                <li><a class="dropdown-menu-item"><span class="icon-clock"/>Add to Queue</a></li>
                <li class="divider"></li>
                <li><a class="dropdown-menu-item"
                       ng-click="player.playlist.removeEntry(playlistEntry.id)"><span class="icon-remove2"/>Remove</a>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12" id="musicPlayerColumn"></div>
<!-- MUSIC PLAYER -->

<div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 content-column">
  <ui-view/>
</div> <!-- ui-view -->

</div>
</div>
