<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div ng-include="'components/music-player/music-player.html'" class="nopadding"></div>

    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 content-column">
      <div class="row">
        <h1 class="page-header">Features:</h1>
        <ul class="nav nav-tabs nav-stacked col-md-6 col-sm-6 col-lg-4 col-xs-12" ng-repeat="thing in awesomeThings">
          <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}
            <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
          </a></li>
        </ul>
      </div>
      <div class="row">
        <form class="thing-form">
          <label>Syncs in realtime across clients</label>

          <p class="input-group">
            <input type="text" class="form-control" style="display: inline-block; width: 50%"
                   placeholder="Add a new thing here." ng-model="newThing"/>
            <input type="text" class="form-control" style="display: inline-block; width: 50%"
                   placeholder="New thing tip."
                   ng-model="newThingTip"/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
          </p>
        </form>
        <footer class="footer">
          <div class="container">
            <p>Angular Fullstack v2.0.13 |
              <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
              <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
          </div>
        </footer>
      </div>
    </div>
    <!-- end of main column-->
  </div>
</div>
