<div class="top-search">
  <form>
    <div class="form-control-wrapper input-group">
      <input class="form-control empty" id="focusedInput" ng-model="searchQuery" type="text" placeholder="Soundcloud track">

      <span class="material-input"></span>
      <span class="input-group-addon "><button class="mdi-action-search clear-button" type="submit"
                                               ng-click="search(searchQuery)"></button></span>
    </div>
  </form>
</div>
<div class="col-lg-12" style="margin-top: 55px;">
  <soundcloud-track style="display: inline; overflow: hidden;" track="result" ng-repeat="result in searchResults"></soundcloud-track>
</div>
