<div class="col-md-12 content-column">
  <h1>Soundcloud search</h1>

  <form>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchQuery" placeholder="Wprowadź frazę do wyszukiwania">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="search(searchQuery)"><span
          class="glyphicon glyphicon-search"></span></button>
      </span>
  </form>
</div>
<div class="col-lg-12">
  <soundcloud-track style="display: inline; overflow: hidden;" track="result" ng-repeat="result in searchResults"></soundcloud-track>
</div>
