<div class="row">
  <div class="">
    <md-toolbar class="md-transparent" style="position: absolute; height: 40px; overflow: auto">
      <form class="md-toolbar-tools">
        <div class="form-control-wrapper input-group">
          <input class="form-control empty" id="focusedInput" ng-model="searchQuery" type="text"
                 placeholder="search keywords">

          <span class="material-input"></span>
      <span class="input-group-addon "><button class="mdi-action-search clear-button" type="submit"
                                               ng-click="search(searchQuery)"></button></span>
        </div>
      </form>
    </md-toolbar>
  </div>
  <div>
    <!-- plalists -->
    <section ng-if="playlistSearchResults ">
      <md-subheader class="md-accent">Playlists</md-subheader>
      <media-item-tile item="playlist" ng-repeat="playlist in playlistSearchResults"></media-item-tile>
    </section>
    <!-- tracks -->
    <section ng-if="songSearchResults">
      <md-subheader class="md-accent">Tracks</md-subheader>
      <media-item-tile item="song" ng-repeat="song in songSearchResults"></media-item-tile>
    </section>
  </div>
</div>
