<!-- Such ugly ng-if (all scrollbars directives sucks :< -->
<div class="col-md-6 col-sm-12 col-lg-4 nopadding discover-artist-col scrollme"
     ng-scrollbar="!mobileView" rebuild-on-resize
     ng-mouseover="artistScroll=true" ng-mouseleave="artistScroll=false"
     is-bar-shown="artistScroll" ng-if="!mobileView"
     rebuild-on="discover:artist:updated">

  <div ng-include="'app/routes/discover/discover.artist.html'"></div>
</div>


<div class="col-md-6 col-sm-12 col-lg-4 nopadding discover-artist-col"
     ng-if="mobileView">
  <div ng-include="'app/routes/discover/discover.artist.html'"></div>
</div>


<div class="col-md-6 col-sm-12 col-lg-4 discover-top-tracks-col"
     ng-style="{'background-color' : artPalette().DarkMutedAlt.getHex()}">
  <div ng-include="'app/routes/discover/discover.top-tracks.html'">
  </div>
</div>

<div class="col-md-6 col-sm-12 col-lg-4 nopadding discover-album-col"
     ng-style="{'background-color' : artPalette().DarkMuted.getHex()}">
  <div class="artist-albums">
    <div class="discover-label" ng-style="{'color' : artPalette().Vibrant.getHex()}">Albums</div>

    <mb-albums-grid albums="song.discoverInfos.discography.albums"
                    theme-color="artPalette().Vibrant.getHex()"></mb-albums-grid>
  </div>
</div>
