<div class="col-md-12">
  <h2>Stations by {{grouping}}</h2>

  <div class="row">
    <div class="col-md-12 songza-pills">
      <ul class="nav nav-pills">
        <li ng-repeat="decade in decades" ng-class="{'active' : selectedDecade._id == decade._id}">
          <a ng-click="setDecade(decade)">{{ decade.name }}</a>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12" ng-show="stations">
  Results
  <div layout="row" layout-align="space-around center" layout-wrap ng-show="stations">
    <media-item-tile item="station" ng-repeat="station in stations"/>
  </div>
</div>
</div>
