@mediaItemTileWidth: 195px; // 230
@mediaItemTileHeight: @mediaItemTileWidth;
@mediaItemTileMetainfosHeight: 60px; // 68

@mediaItemTileMobileWidth: 154px; // 230
@mediaItemTileMobileHeight: @mediaItemTileMobileWidth;
@mediaItemTilMetainfoseMobileHeight: 50px;
.media-tile-wrapper {
  padding-top: 2px;
  padding-left: 1px; padding-right: 1px;
  padding-bottom: 0px;
  display: inline-block;
}

.media-tile-loader {
  position: absolute;
  width: @mediaItemTileWidth;
  height: @mediaItemTileHeight;
  z-index: 5;
}

.media-tile {
  position: relative;
  padding: 0;
  cursor: pointer;
  display: table;

  width: @mediaItemTileWidth;
  height: @mediaItemTileHeight;
  overflow: hidden;
  & .media-tile-add-to-playlist {
    display: table;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: @mediaItemTileHeight;
    color: @gray-lighter;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s ease-out;
    & > .media-tile-add-to-playlist-icon {
      margin-top: -34px; // bottombar/2
      font-size: 40px;
      text-align: center;
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
    & > .media-tile-add-to-playlist-text {
      z-index: 99999;
      position: absolute;
      left: 0;
      bottom: 20%;
      text-transform: uppercase;
      text-align: center;
      font-size: @font-size-h5;
      font-weight: 100;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      // opacity: 0.8;
    }
  }
  & .media-tile-art {
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
    height: @mediaItemTileHeight;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.media-tile-metainfos {
  position: relative;
  background-color: @brand-primary;
  display: block;
  padding: 0.5em;
  padding-bottom: 0;
  width: @mediaItemTileWidth;
  height: @mediaItemTileMetainfosHeight;
  z-index: 2;
  color: @grey-100;
  font-size: 14px;
  & > .media-tile-name {
    padding-top: 4px;
    height: 2.9em;
    overflow: hidden;
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
  }
  & > .media-tile-name-2lines {
    white-space: normal !important;
  }
  & > .media-tile-subtitle {
    position: absolute; margin-top: -14px;
  }
  & .media-tile-icon-more {
    z-index: 99999;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -12px;
    pointer-events: all;
  }
}

.media-tile:hover .media-tile-add-to-playlist {
  pointer-events: all !important;
  opacity: 1 !important;
  transition: opacity 0.25s ease-out !important;
}
.bugfix-hidden-tile { height: 1px; overflow: hidden; visibility: hidden; }
.collection-layout-wrapper-fix{ width: 69%; height: 2px; background-color: red; }

@media screen and (max-width: @screen-xs-max) {
  .media-tile-wrapper {
    margin: 0 1px;
  }

  .media-tile {
    width: @mediaItemTileMobileWidth;
    height: @mediaItemTileMobileHeight;
    & .media-tile-add-to-playlist {
      height: @mediaItemTileMobileHeight;
    }
  }
  .media-tile-metainfos {
    width: @mediaItemTileMobileWidth;
    height: @mediaItemTilMetainfoseMobileHeight;
    font-size: 13px;
  }
}
