<div class="top-search">
  <form>
    <div class="form-control-wrapper input-group">
      <input class="form-control empty" id="focusedInput" ng-model="searchQuery" type="text">

      <div class="floating-label">Nazwa stacji songza</div>
      <span class="material-input"></span>
      <span class="input-group-addon "><a class="mdi-action-search" type="submit"
                                          ng-click="searchStations(searchQuery)"></a></span>
    </div>
  </form>
</div>
<!-- loading spinner -->
<div class="center-block" ng-show="searchInProgress" style="width: 50px; overflow:visible; margin-top: 1em">
  <span class="loader "><span class="loader-inner"></span></span>
</div>
<!-- Search results -->
<div class="col-lg-7 center-grid">

  <songza-station station="station" ng-repeat="station in foundedStations"></songza-station>
</div>
<div class="col-lg-5">
  Hi there!
</div>
