#musicPlayerContainer {
  position: fixed;
  background-color: @grey-900;
//  top: 90px;
  left: 0;
  /*bottom: 0;*/
  padding-top: @navbar-height;
  height: 100%;

  #musicPlayerContainer {
    .transition(all 0.5s);
    .transition-timing-function(ease-out);
  }
  #musicPlayerBase.theatermode {
    position: fixed;
    left: 0; right: 0;
    top: @navbar-height; // @navbar-height
    bottom: 0;
    .transition(all 0.5s);
    .transition-timing-function(ease-out);
    & > .row {
      height: 100%;
      & > .col-lg-12 {
        height: 100%;
      }
    }
  }
  #musicPlayerBase.theatermode.useridle {
    top: 0;
    .transition(all 0.5s);
    .transition-timing-function(ease-out);
  }

  #musicPlayerBase:not(.theatermode) mb-player-main-controls {
    height: @mainPlayerHeight;
  }

}

#musicPlayerColumn {
  bottom: 0;
  top: 0;
}


#musicPlayerBase.theatermode.useridle .player-controls,
#musicPlayerBase.theatermode.useridle player-progressbar
{
  position: absolute;
  bottom: -320px;
}


/* NON PHONE SCREEN */
@media screen and (min-width: @screen-sm-min) {
  #musicPlayerContainer {
    width: 380px;
  }
}

.player-loading {
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.2);
  padding-left: 50%;
  padding-top: 50%;

  // Fade out loader afet some time
  -webkit-animation-duration: 5s;
  -webkit-animation-name: fadeOut;
  opacity: 1;
  transition: opacity 0.5s linear;

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &.ng-hide {
    pointer-events: none;
    display: block !important;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  & .loader {
    z-index: 20;
    position: relative; left: -15px; top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid @mainThemeColor;
    animation: loader 2s infinite ease-out;

    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  }

  & .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: @mainThemeColor;
    animation: loader-inner 2s infinite ease-out;
  }


  @keyframes loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    35% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    85% {
      height: 0%;
    }
    100% {
      height: 0%;
    }
  }
}

/* PHONE SCREEN */
@media screen and (max-width: @screen-xs-max) {
  #musicPlayerContainer {
    padding: 0;
    position: static;
    & .cur-track-info {
      width: 100% !important;
    }
    & .cur-track-innerwrapper {
      // bottom: 15px !important;
    }
  }
  /*
  #musicPlayerColumn {
    display: none;
  }*/

}
