<div id="musicPlayerContainer">
  <!-- Playlist entry details -->
  <!-- Main controlls & Artwork / Video-->
  <div id="musicPlayerBase"
       ng-class="{ 'theatermode' : player.theaterMode.enabled, 'useridle' : player.theaterMode.userIdle }">


    <div class="row">
      <div class="col-lg-12 nopadding">
        <div class="player-loading center-block" ng-show="isPlayerWorking">
          <div class="loader ">
            <div class="loader-inner"></div>
          </div>
        </div>

        <mb-player-toolbar-wrapper-top></mb-player-toolbar-wrapper-top>
        <mb-player-main-controls></mb-player-main-controls>
      </div>
    </div>
    <div class="row">
      <player-progressbar buffered="playerProgress.buffered" current="playerProgress.current"
                          ng-click="playerProgressClickEvent($event)"></player-progressbar>
    </div>
  </div>

  <!-- Playlist -->
  <mb-player-list
    ng-class="{ 'theatermode' : player.theaterMode.enabled,
    'playlist-closed': (!player.theaterMode.playlistMenuToggled || player.theaterMode.userIdle) && player.theaterMode.enabled}"
    ></mb-player-list>
  <!-- toggle list buttons -->
  <div ng-show="player.theaterMode.enabled && !player.theaterMode.playlistMenuToggled && !player.theaterMode.userIdle"
       class="playlist-expander">
    <span class="mdi-navigation-menu" ng-click="togglePlaylistMenu(true)"></span>
  </div>
  <div ng-show="player.theaterMode.enabled && player.theaterMode.playlistMenuToggled && !player.theaterMode.userIdle"
       class="playlist-collapser">
    <span class="mdi-navigation-close" ng-click="togglePlaylistMenu(false)"></span>
  </div>
</div>
