
#musicPlayerContainer {
  position: relative;
  background-color: @grey-900;
//  top: 90px;
  /*bottom: 0;*/
  height: 100%;

  #musicPlayerBase.theatermode {
    position: fixed;
    left: 0; right: 0;
    top: @navbar-height; // @navbar-height
    bottom: 0;
    .transition(all 0.5s);
    .transition-timing-function(ease-out);
    & > .row {
      height: 100%;
      & > .col-lg-12 {
        height: 100%;
      }
    }
  }
  #musicPlayerBase.theatermode.useridle {
    top: 0;
    .transition(all 0.5s);
    .transition-timing-function(ease-out);
  }

  #musicPlayerBase:not(.theatermode) mb-player-main-controls {
    height: @mainPlayerHeight;
  }

  & .mb-playlist-scroll {
    position: absolute !important;
    display: block;
    top: 365px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    &.theatermode {
      top: 0;
      bottom: 6px;
      &.playlist-closed {
        visibility: hidden;
      }
      &.playlist-closed .ngsb-scrollbar {
        display: none !important;
      }
      & .ngsb-container {
        //height: 100%;
      }
    }
  }
  & mb-player-entry-details {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    .material-transition();
    &.details-opened {
      left: @player-width;
      .material-transition();
    }
  }
}

#musicPlayerBase.theatermode.useridle .player-controls,
#musicPlayerBase.theatermode.useridle player-progressbar
{
  position: absolute;
  bottom: -320px;
}


/* NON PHONE SCREEN */
@media screen and (min-width: @screen-sm-min) {
  #musicPlayerContainer {
    width: @player-width;
  }
}

.player-loading {
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.2);
  padding-left: 50%;
  padding-top: 50%;

  // Fade out loader afet some time
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeOut;
  opacity: 1;
  transition: opacity 0.5s linear;

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &.ng-hide {
    pointer-events: none;
    display: block !important;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  & .loader {
    z-index: 20;
    position: relative; left: -15px; top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid @mainThemeColor;
    animation: loader 2s infinite ease-out;

    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  }

  & .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: @mainThemeColor;
    animation: loader-inner 2s infinite ease-out;
  }


  @keyframes loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    35% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    85% {
      height: 0%;
    }
    100% {
      height: 0%;
    }
  }
}

.playlist-expander, .playlist-collapser {
  position: absolute;
  display: inline-block;
  z-index: 100;
  bottom: 6px;
  & > span {
    vertical-align: bottom;
    color: white;
    background-color: @mainThemeColorAlt;
  }
}
.playlist-expander.ng-hide, .playlist-collapser.ng-hide {
  bottom: -220px;
}

/* PHONE SCREEN */
@media screen and (max-width: @screen-xs-max) {
  #musicPlayerContainer {
    padding: 0;
    height: auto;
    & .cur-track-info {
      width: 100% !important;
    }
    & .cur-track-innerwrapper {
      // bottom: 15px !important;
    }
    & .mb-playlist-scroll {
      position: static !important;
      min-height: 158px;
      height: 316px;
    }
  }
  /*
  #musicPlayerColumn {
    display: none;
  }*/

}
