#musicPlayerContainer {
  position: fixed;
  background-color: @gray-dark;
  top: 0;
  /*bottom: 0;*/
  padding-top: @navbar-height;
  & #albumArt{min-height: 360px;
    background-size: cover;
    background-position: center;
    // z-index: -1;
    position: relative;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  & > .row {
    //    padding-top: 15px;
  }
  & .cur-track-wrapper {
    position: absolute;
    bottom: 0; left: 0; top: 0; right: 0;
    padding-left: 0 !important;
    .albumArtGradient();
    & .cur-track-innerwrapper {
      position: absolute; bottom: 50px; width: 100%;
      margin-left: 0 !important; margin-right: 0 !important;
    }
  }
  & .cur-track-info {
    z-index: 15;
    width: 100%;
  }
  & .cur-track-artist {
    font-size: 1.5em;
    color: @gray-lighter;
    text-align: center !important;
  }
  & .cur-track-title {
    font-size: 1.3em;
    color: @gray-lighter;
    font-style: italic;
    text-align: center !important;
  }

}
#musicPlayerColumn {
  bottom: 0;
  top: 0;
}
/* NON PHONE SCREEN */
@media screen and (min-width: @screen-sm-min) {
  #musicPlayerContainer {
    width: 380px;
  }
}
/* PHONE SCREEN */
@media screen and (max-width: @screen-xs-max) {
  #musicPlayerContainer {
    position: static;
    & .cur-track-info {
      width: 100% !important;
    }
    & .cur-track-innerwrapper {
      // bottom: 15px !important;
    }
  }
  #musicPlayerColumn {
    display: none;
  }
  .playlistElementContainer {
    position: relative;
  }
}


.albumArtGradient () {
  background: -moz-linear-gradient(top,  rgba(38,38,38,0) 0%, rgba(38,38,38,0) 41%, rgba(38,38,38,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,38,38,0)), color-stop(41%,rgba(38,38,38,0)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(38,38,38,0) 0%,rgba(38,38,38,0) 41%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(38,38,38,0) 0%,rgba(38,38,38,0) 41%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(38,38,38,0) 0%,rgba(38,38,38,0) 41%,rgba(38,38,38,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(38,38,38,0) 0%,rgba(38,38,38,0) 41%,rgba(38,38,38,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00262626', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}
